
body{
  background-color:rgb(208, 196, 250);
}
.App{
  text-align: center;
}
img{
  max-width:50px;
  max-height:50px;
}
p{
  font-size: 2rem;
}
h1, p{
  font-family: Lobster, Monospace;
}
#author{
  text-align:right;
}
#tweet-quote{
  color:white;
  text-decoration: none;
}
#contacto{
  color:rgb(174, 173, 173);
}